<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link  rel="stylesheet" href="/css/style.css"/>
</head>

<body class='flex-column min-100-vh'>
    <nav class='navbar'>
      <ul class='flex-row'>
        <li class='li-inline nav-item'><a href='/'>Home</a></li>
        <li class='li-inline nav-item'><a href='/api/dashboard'>Dashboard</a></li>
        {{#if loggedIn}}
          <li class='li-inline nav-item'><a href='#' id='logout'>Logout</a></li>
        {{else}}
          <li class='li-inline nav-item'><a href='/api/login'>Login</a></li>
        {{/if}}
      </ul>
    </nav>
    <header class='hero'>
      {{#if dashboard}}
        <h1 class='app-title'><a href='/api/dashboard'>Your Dashboard</a></h1>
      {{else}}
        <h1 class='app-title'><a href='/'>The Tech Blog</a></h1>
      {{/if}}
    </header>
<main class='col-auto'>
      {{{body}}}
    </main>

    {{#if dashboard}}
      <footer class='footer flex-row justify-center'>
        <a href='/api/dashboard/new'>➕ New Post</a>
      </footer>
    {{else}}
      <footer class='flex-row justify-center'>
        &copy; The Tech Blog Folks
      </footer>
    {{/if}}

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
      <script src='/js/login.js'></script>
      <script src="/js/dashboard.js"></script>
      <script src="/js/index.js"></script>
      <script src="/js/signUp.js"></script>
  </body>

</html>