<h2>Dashboard</h2>
<div class="post-container">
    <div class="new-post-container">

        <div class="create-header">
            <h3>Create New Post</h3>
        </div>
        <form class="new-post">
            <div class="form-section">
                <label>Title</label>
                <input type="text" id="new-post-title">
            </div>
            <div class="form-section">
                <label>Content</label>
                <input type="text" id="new-post-content">
            </div>
            <div class="form-section">
                <button id="new-post-submit">Create</button>
            </div>
        </form>
    </div>
    {{#each postData}}
    <div class="post">
        <div class="post-header">
            <h3 class="post-title">{{this.title}}</h3>
            <p class="post-date">Posted {{this.date_created}}</p>
        </div>
        <div class="post-content">
            <p>{{this.content}}</p>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>