<h2>Dashboard</h2>
<div class="post-container">
    {{#each postData}}
    <div class="post">
        <h3 class="post-title">{{this.title}}</h3>
        <p class="post-content">{{this.content}}</p>
        <p class="post-date">{{this.date_created}}</p>
    </div>
    {{/each}}
</div>
<div class="new-post-container">
    
    <form class="new-post">
        <div class="form-section">
            <h3>Create New Post</h3>
        </div>
        <div class="form-section">
            <label>Title</label>
            <input type="text" id="new-post-title">
        </div>
        <div class="form-section">
            <label>Content</label>
            <input type="text" id="new-post-content">
        </div>
        <div class="form-section">
            <button id="new-post-submit">Create</button>
        </div>
    </form>
</div>
<script src="/js/dashboard.js"></script>