<h2>Home Page</h2>
{{#each postData}}
<div class="post">
    <h3 class="post-title">{{this.title}}</h3>
    <p class="post-content">{{this.content}}</p>
    <p class="post-date">Posted {{this.date_created}}</p>
</div>
{{/each}}
