<h3>Home Page</h3>
{{#each postData}}
<div class="post">
    <h2 class="post-title">{{this.title}}</h2>
    <p class="post-content">{{this.content}}</p>
    <p class="post-date">{{this.date_created}}</p>
</div>
{{/each}}
