{{!-- Form to login --}}
<h2>Login</h2>
<div class="login-page">
    <form class="login">
        <div class="form-section">
            <label>username</label>
            <input type="username" id="login-username">
        </div>
        <div class="form-section">
            <label>password</label>
            <input type="password" id="login-password">
        </div>
        <div class="form-section">
            <button id="login-submit">Login</button>
        </div>
    </form>
</div>
<script src='/js/login.js'></script>